body {
    background-color: #f4f7f6; /* Light gray background for a subtle look */
    color: #333; /* Dark gray text for readability */
    margin-top: 50px;
}

.navbar-brand {
    font-size: 1.5em; 
    color: #ffd700 !important; 
}

.navbar {
    margin-bottom: 30px;
    background-color: #0056b3; 
}

.category-section h4 {
    color: #0056b3; /* Maintaining the theme color for headers */
    margin-bottom: 10px;
}

.category-section input {
    box-shadow: 0 2px 4px rgba(0,0,0,.2); /* Subtle shadow for depth */
    border: none; /* Clean design */
    border-radius: 5px; /* Rounded corners for input */
}

/* Responsive design adjustments if necessary */
@media (max-width: 768px) {
    .navbar {
      margin-bottom: 20px;
    }
  
    .container h1, .container h4 {
      font-size: 1.8em; /* Adjust heading size on smaller screens */
    }
}
